/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}


body
{
    background-image: linear-gradient(to right, #009FFF,#ec2F4B);
    font-family: 'Open Sans', sans-serif;
}